<h1>Borrow Book</h1>
    {{#if user}}
    {{#each results}}
        <h3>Book_Id: {{{this.book_id}}}</h3>
        <h3>Start_at: {{{this.start_at}}}</h3>
        <h3>Return_at: {{{this.end_at}}}</h3>
        {{#if status}}
        {{else}}
        <button><a href="/return/{{this.id}}?book={{this.book_id}}">Return</a></button>
        {{/if}}
    {{/each}}
    {{else}}
        <h4>To view this you want to login First</h4>
        <a href="/">Login</a>
    {{/if}}